.input-container{
  max-width: 20%;
  height: 30vh;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.142);
  position: relative;
  inset: 10px 80px;
}
form{
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 10px;
  top: 10px;

}

.custom-input{
  /* position: absolute; */
  width: 80%;
  height: 1rem;
  flex: 1 1 auto;
}
.custom-password{
  position: relative;
  width: 80%;
  height: 1rem;
  flex: 1 1 auto;
}
.eye-icon{
  position: relative;
  font-size: 15px;
  flex: 1 1 auto;
}
.btn{
  width: 40%;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover{
  background-color: cadetblue;
}
.a{
  margin-left: 80px;
  font-size: 10px;
  text-decoration: none;
  border: 1px solid gray;
}